@media only screen and (max-width: 768px) {
    .body_title {
        margin-top: 250px;
        margin-left: 20px;
        }
        .body_title  h1{
        font-size: 45px;
        font-weight: bold;
        }
        .text {
            font-size: 17px;
            color: rgb(255, 123, 0);
            font-weight: 700;
        }
        body{
            font-family: 'Quicksand', sans-serif;
        }

  }
@media only screen and (max-width: 1920px) {

        body{
            font-family: 'Quicksand', sans-serif;
        }
  }

